
body {
background-image: linear-gradient(grey,white);
}


h1   {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white}

button {background-color:greenyellow}


.navbar a:hover {
background-color:cadetblue
}

h6 {color:aqua}

.navbar2 {
    background-color: #e1dddd;
    overflow: hidden;
    bottom: 0;
    width: 100%;
  }